.DS_Store
*.log
node_modules/

# Xcode
*.xcuserstate
*.xcuserdatad
xcuserdata/
DerivedData/
*.xcworkspace/xcuserdata/

# Supabase
supabase/.env
supabase/.branches
supabase/.temp
AuthKey_8J2PBKX24Q.p8
*.p8
